<!-- Gitment评论插件通用代码 -->
<div id="git"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  owner: "hanxiaoluo361@163.com",
  repo: "hanxiaoluo.github.io",
  oauth: {
    client_id: "68eed66bdbe96ff821c7",
    client_secret:"1bacdda1bab2fa6ec6fe686df3ca9744a8f50378",
  },
})
gitment.render('git')
</script>
<!-- Gitment代码结束 -->
